@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
body {
    margin: 0;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-item {
    margin-left: 1.5rem;
}

.checkOn {
    text-decoration: line-through;
    color: #cacaca;
}

.done-page {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: #ffffff;
}
.form-check-label {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.counter{
    display: flex;
}
.allCounter,
.doneCounter,
.undoneCounter{
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 23px;
    margin-right: 25px;
    color:#fff ;
}
